<div class="container-fluid BackGround shadow rounded">
  <div class="row">
    <div class="col-8">
      <!-- Show group name -->
      <h1 *ngIf="renameGroupFlag === false" class="text-truncate" (click)="renameGroup()">{{group}}</h1>

      <!-- Rename group -->
      <div *ngIf="renameGroupFlag === true" class="input-group">
        <input #writeName type="text" class="form-control" placeholder="{{group}}"
          aria-label="Recipient's username with two button addons" aria-describedby="button-addon4">
        <div class="input-group-append" id="button-addon4">
          <button class="btn btn-outline-secondary" type="button" (click)="renameOK(writeName.value)">OK</button>
          <button class="btn btn-outline-secondary" type="button" (click)="renameCancel()">CANCEL</button>
        </div>
      </div>
    </div>

    <!-- Save button -->
    <div class="col text-right">
      <button class="btn btn-success btn-lg" (click)="onSave()">SAVE</button>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <!-- Add word button -->
      <button id="AddNewBtn" *ngIf="addWordFlag === false" type="button" class="btn btn-outline-primary btn-sm"
        (click)="addWordClick()">Add new word</button>

      <!-- Show when add word button is CLICK   -->
      <div id="AddNewInput" *ngIf="addWordFlag === true" class="row">
        <div class="col-6 col-lg">
          <input #newWord type="text" class="form-control" placeholder="Word">
        </div>
        <div class="col-6 col-lg">
          <input #newMean type="text" class="form-control" placeholder="Meaning">
        </div>
        <div class="col col-lg">
        <input class="btn btn-warning" type="submit" (click)="addWordOk(newWord.value,newMean.value)" value="Confirm">
        <input class="btn btn-secondary" type="reset" (click)="addWordCancel()" value="Cancel">
        </div>
      </div>

      <!-- Delete button -->
      <button *ngIf="addWordFlag === false" type="button" class="btn btn-outline-danger btn-sm"
        style="margin-left: 1rem;" (click)="DeleteWordClick()">Delete words</button>
      <!-- Cancel delete button -->
      <button *ngIf="addWordFlag === false && deleteWordFlag === true" type="button" class="btn btn-light btn-sm"
        style="margin-left: 1rem;" (click)="CancelDeleteWordClick()">End delete</button>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <!-- Table for show words in group -->
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">No.</th>
            <th scope="col">Word</th>
            <th scope="col">Meaning</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let word of words; let i = index" (click)="EditClick(word, i)"
            [style.background-color]="(i===editIndex)?'#0275d8':''" [style.color]="(i===editIndex)?'white':''"
            [ngClass]="{'DeleteSelected':(deleteWordFlag===true)}">
            <th scope="row">{{i+1}}</th>
            <td>{{word.word}}</td>
            <td>{{word.mean}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
