.BackGround {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h1:hover {
  color: #0275d8;
  text-shadow: 2px 2px 15px #3792e0bd;
  transition: 0.2s;
}

.row {
  margin-top: 1rem;
  padding-top: 1rem;
}

#AddNewInput {
  padding-top: 0rem;
  margin-top: 0rem;
  padding-right: 1rem;
}

.EditSelected {
  background-color: #0275d8;
  color: white;
  /*transition: 0.3s;*/
}

.DeleteSelected:hover {
  background-color: #d9534f;
  color: white;
}
