.BackGround {
  background-color: white;
  margin-top: 1rem;
  padding: 0rem 0rem;
}

button {
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.list-group {
  margin: 1rem;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}
