<nav class="navbar navbar-expand navbar-dark bg-dark BackGround">
  <a class="navbar-brand" style="color: white; font-size: 25px; padding-right: 1rem;">MemorizeWordHelper</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active" style="padding-right: 1rem;">
        <a class="nav-link" href="#">Random<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Manage</a>
      </li>
    </ul>

  </div>
</nav>
