<div class="container">
  <div *ngIf="!startRandomFlag" class="row BackGround shadow p-3 mb-5 bg-white rounded">
    <div class="col">

      <h3>Select group</h3>
      <div class="overflow-auto" style="height: 200px;">
        <div *ngFor="let group of selectedGroups; let i = index" class="form-check">
          <input [(ngModel)]="group.selected" name="group.selected" class="form-check-input" type="checkbox">
          <label class="form-check-label">
            {{group.name}}
          </label>
        </div>
      </div>
      <hr>

      <h3>Select Type</h3>
      <div class="form-check">
        <input [(ngModel)]="selectedType" class="form-check-input" type="radio" name="gridRadios" id="gridRadios1"
          value="ShowWord">
        <label class="form-check-label" for="gridRadios1">
          Show wording
        </label>
      </div>
      <div class="form-check">
        <input [(ngModel)]="selectedType" class="form-check-input" type="radio" name="gridRadios" id="gridRadios2"
          value="ShowMean">
        <label class="form-check-label" for="gridRadios2">
          Show meaning
        </label>
      </div>
      <hr>

      <button type="submit" (click)="onStartRandom()" class="btn btn-primary btn-lg btn-block">Start Random</button>

    </div>
  </div>

  <div *ngIf="startRandomFlag" class="row BackGround shadow p-3 mb-5 bg-white rounded">
    <div class="col text-center">
      <div class="progress">
        <div class="progress-bar bg-success" role="progressbar" [ngStyle]="{width: calPercent() + '%'}"
          aria-valuemin="0" aria-valuemax="100">
          {{progressCur}}/{{progressMax}}
        </div>
      </div>
      <br>
      <h1 class="display-4">{{major}}</h1>
      <br>
      <hr>
      <div class="collapse" id="collapseExample">
        <h1 class="display-4">{{minor}}</h1>
      </div>
      <br>
      <p style="margin-bottom: 0px;">
        <a class="btn btn btn-light" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
          aria-controls="collapseExample">
          Show
        </a>
      </p>
      <br>
      <hr>
      <button type="button" (click)="randomPopWord()" class="btn btn-primary btn-lg btn-block">NEXT</button>
      <button type="button" (click)="endRandom()" class="btn btn-secondary btn-lg btn-block">END</button>
    </div>
  </div>
</div>
