<div class="container">
  <div class="row BackGround shadow p-3 mb-5 bg-white rounded">
    <div *ngIf="!startRandomFlag" class="col">

      <h5>Select group</h5>
      <div class="overflow-auto" style="height: 300px;">
        <div *ngFor="let group of selectedGroups; let i = index" class="form-check">
          <input [(ngModel)]="group.selected" name="group.selected" class="form-check-input"
            type="checkbox">
          <label class="form-check-label">
            {{group.name}}
          </label>
        </div>
      </div>
      <hr>

      <h5>Select Type</h5>
      <div class="form-check">
        <input [(ngModel)]="selectedType" class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="ShowWord">
        <label class="form-check-label" for="gridRadios1">
          Show wording
        </label>
      </div>
      <div class="form-check">
        <input [(ngModel)]="selectedType" class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="ShowMean">
        <label class="form-check-label" for="gridRadios2">
          Show meaning
        </label>
      </div>
      <hr>

      <button type="submit" (click)="onStartRandom()" class="btn btn-primary btn-lg btn-block">Start Random</button>

    </div>

    <div *ngIf="startRandomFlag" class="col">
      <h1>Start Random Word</h1>
    </div>
  </div>
</div>
