<div class="container">
  <app-navbar></app-navbar>

  <!-- Normal page -->
  <div *ngIf="!errMessage" class="row">
    <div class="col-3">
      <app-group-list></app-group-list>
    </div>
    <div class="col" style="padding-left: 0px">
      <app-group-detail></app-group-detail>
    </div>
  </div>

  <!-- when error occur -->
  <div *ngIf="errMessage" class="row">
    <div class="col">
      <div class="alert alert-danger" role="alert" style="margin:20px;">
        {{errMessage}}
      </div>
    </div>
  </div>
</div>
